<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="fragments/header :: defaultheader"></div>
<br>
<form action="/news/add" method="post" style="display: inline-block" th:object="${news}">

<p>Заголовок
  <input type="text" id="title" th:field="*{title}" class="btn btn-light" name="title" placeholder="Заголовок">
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  </p>

  <p>Заголовок
  <input type="text" class="btn btn-light" th:field="*{body_text}" id="body_text" name="body_text" placeholder="Текст новости">
  <div th:if="${#fields.hasErrors('body_text')}" th:errors="*{body_text}"></div>
  </p>

  <p>Заголовок
  <input type="text" class="btn btn-light" th:field="*{author}" id="author" name="author" placeholder="Автор">
  <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
  </p>

  <input type="text" class="btn btn-light" th:field="*{views}" id="views" name="views" placeholder="Количество просмотров">
  <div th:if="${#fields.hasErrors('views')}" th:errors="*{views}"></div>

  <input type="text" class="btn btn-light" th:field="*{likes}" id="likes" name="likes" placeholder="Количество лайков">
  <div th:if="${#fields.hasErrors('likes')}" th:errors="*{likes}"></div>

  <input type="submit" value="Добавить новость" class="btn btn-success"><br>

  <br> <a href="/news/" class="btn btn-warning">Назад</a>
</form>

</div>
</body>
</html>