<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div th:each="el:${news}">
<br>
<form th:action="'/news/edit/' + ${el.id}" method="post" th:object="${news}" class="background_form">
  <input type="text" th:value="${el.title}"  th:field="*{title}" class="btn btn-light" id="title" name="title" placeholder="Заголовок">
  <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <input type="text" id="body_text" name="body_text" th:field="*{body_text}" class="btn btn-light" placeholder="Текст новости">
  <div th:if="${#fields.hasErrors('body_text')}" th:errors="*{body_text}"></div>
  <input type="text" id="author" name="author" th:field="*{author}" class="btn btn-light" placeholder="Автор">
  <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
  <input type="text" id="views" name="views" th:field="*{views}" class="btn btn-light" placeholder="Количество просмотров">
  <div th:if="${#fields.hasErrors('views')}" th:errors="*{views}"></div>
  <input type="text" id="likes" name="likes" th:field="*{likes}" class="btn btn-light" placeholder="Количество лайков">
  <div th:if="${#fields.hasErrors('likes')}" th:errors="*{likes}"></div>

  <input type="submit" value="Изменить новость" class="btn btn-success"><br>
  <br><a href="/trailers/" class="btn btn-warning">Назад</a>
</form>

</div>
</body>
</html>