<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trailers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<div th:each="el:${trailers}">
<br>
        <form th:action="'/trailers/edit/' + ${el.id}" method="post" th:object="${trailers}">

        <input type="text" th:value="${el.nameT}"  th:field="*{nameT}"  class="btn btn-light" id="nameT" name="nameT" placeholder="Название сериала">
        <div th:if="${#fields.hasErrors('nameT')}" th:errors="*{nameT}"></div>
        <input type="text"  th:field="*{raiting1}"   class="btn btn-light" id="raiting1" name="raiting1" placeholder="Рейтинг КП">
        <div th:if="${#fields.hasErrors('raiting1')}" th:errors="*{raiting1}"></div>
        <input type="text"  th:field="*{raiting2}"  class="btn btn-light" id="raiting2" name="raiting2" placeholder="Рейтинг UHTB">
        <div th:if="${#fields.hasErrors('raiting2')}" th:errors="*{raiting2}"></div>
        <input type="text"  th:field="*{date}"  class="btn btn-light" id="date" name="date" placeholder="Количество серий">
        <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
        <input type="text"  th:field="*{season}"  class="btn btn-light" id="season" name="season" placeholder="Количество сезонов">
        <div th:if="${#fields.hasErrors('season')}" th:errors="*{season}"></div>
        <input type="submit" value="Изменить сериал" class="btn btn-success"><br>
        <br><a href="/trailers/" class="btn btn-warning">Назад</a>
    </form>


</div>
</body>
</html>